// paleta de colores
$primary-color: #6A0DAD;   
$secondary-color: #9B59B6; 
$light-purple: #D8BFD8;  

$dark-gray: #2C2C2C;       
$light-gray: #D3D3D3;      
$black: #000000;           
$white: #FFFFFF;          
