@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
.container {
  max-width: 1080px;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #6A0DAD;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.3;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
}

body {
  font-family: "Crimson Text", serif;
  font-size: 16px;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Crimson Text", serif;
}

i {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

.btn-primary {
  background-color: #6A0DAD;
  color: white;
  border: 1px solid #6A0DAD;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  line-height: 1.4;
  text-align: center;
}
.btn-primary:hover {
  background-color: #4d097e;
  border-color: #4d097e;
}

.btn-secondary {
  background-color: white;
  color: #6A0DAD;
  border: 1px solid #6A0DAD;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  line-height: 1.4;
  text-align: center;
}
.btn-secondary:hover {
  background-color: #e6e6e6;
  border-color: #4d097e;
}

.btn-circle {
  background-color: #6A0DAD;
  color: white;
  border: 1px solid #6A0DAD;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  line-height: 1.4;
  text-align: center;
}
.btn-circle:hover {
  background-color: #4d097e;
  border-color: #4d097e;
}

.s {
  padding: 8px 10px;
  font-size: 16px;
}

.m {
  padding: 12px 15px;
  font-size: 18px;
}

.l {
  padding: 12px 20px;
  font-size: 18px;
}

.top-bar {
  background: #D8BFD8;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.top-bar .contact-info {
  display: flex;
  gap: 20px;
}
.top-bar .contact-info span {
  color: #000000;
  font-size: 14px;
}
.top-bar .contact-info span:hover {
  color: #6A0DAD;
  font-weight: 600;
  transform: scale(1.1);
}
.top-bar .contact-info span:hover a {
  color: #6A0DAD;
}
.top-bar .slogan {
  color: #000000;
}
.top-bar .icon-group {
  display: flex;
  gap: 20px;
}

.header {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 4rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.header .info-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header .info-nav .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header .info-nav .logo img {
  height: 80px;
}
.header .info-nav .nav {
  gap: 20px;
  display: flex;
}
.header .info-nav .nav a {
  font-weight: 600;
  color: #6A0DAD;
  font-size: 20px;
  position: relative;
}
.header .info-nav .nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: #9B59B6;
  transition: width 0.3s ease-in-out;
}
.header .info-nav .nav a:hover {
  color: #9B59B6;
}
.header .info-nav .nav a:hover::after {
  width: 100%;
}
.header .info-nav #hamburger-menu {
  display: none;
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20%;
  transform: translateY(-50%);
}
.header .info-nav .mobile-menu {
  display: none;
  flex-direction: column;
  background-color: white;
  padding: 15px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 23%;
  right: 15px;
  z-index: 100;
  border-radius: 4px;
}
.header .info-nav .mobile-menu .nav-mobile {
  display: none;
}
.header .info-nav .mobile-menu .btn-option-mobile {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}
.header .info-nav .mobile-menu .btn-option-mobile .btn-primary,
.header .info-nav .mobile-menu .btn-option-mobile .btn-secondary {
  width: 150px;
}
.header .info-nav .mobile-menu.active {
  display: block;
}
.header .btn-option {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .btn-option a {
  text-decoration: none;
  color: #6A0DAD;
  font-weight: 600;
  margin-right: 15px;
  font-size: 20px;
}
.header .btn-option .icons {
  font-size: 20px;
  color: #6A0DAD;
  gap: 20px;
  display: flex;
}
.header .btn-option .icons i {
  cursor: pointer;
}

@media (max-width: 990px) {
  .top-bar {
    flex-direction: column;
    padding: 10px;
  }
  .top-bar .contact-info {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .top-bar .icon-group {
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  .header {
    padding: 10px 2rem;
    flex-direction: column;
    align-items: center;
  }
  .header .info-nav {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .header .info-nav .logo img {
    height: 120px;
  }
  .header .info-nav .nav {
    gap: 30px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .header .info-nav .nav a {
    font-size: 20px;
  }
  .header .info-nav #hamburger-menu {
    display: block;
  }
  .header .info-nav .active {
    display: flex;
    animation: slideDown 0.3s ease-in-out;
  }
  .header .btn-option {
    display: none;
  }
}
@media (max-width: 500px) {
  .top-bar .contact-info {
    font-size: 12px;
  }
  .top-bar .slogan {
    font-size: 14px;
    text-align: center;
  }
  .header .info-nav {
    flex-direction: row;
  }
  .header .info-nav .nav {
    display: none;
  }
  .header .info-nav .mobile-menu {
    gap: 10px;
  }
  .header .info-nav .mobile-menu .nav-mobile {
    display: flex;
    flex-direction: column;
  }
}
.nav.active {
  display: flex !important;
  animation: slideDown 0.3s ease-in-out;
}

.nav, .nav-mobile {
  display: flex;
  gap: 15px;
}
.nav a, .nav-mobile a {
  font-weight: 600;
  color: #6A0DAD;
  font-size: 20px;
  position: relative;
}
.nav a::after, .nav-mobile a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: #9B59B6;
  transition: width 0.3s ease-in-out;
}
.nav a:hover, .nav-mobile a:hover {
  color: #9B59B6;
}
.nav a:hover::after, .nav-mobile a:hover::after {
  width: 100%;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=header.css.map */